.main_container {
  display: flex;
}

/* register container */

.background_container {
  position: relative;
  align-items: center;
  display: flex;
  z-index: 0;
  height: 850px;
  width: 549px;
  justify-content: center;
  background: url("../images/background.svg");
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #091e3f;
    opacity: 0.8;
  }
}

.register_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 609px;
  width: 400px;
  background-color: var(--primary-background-color);
  z-index: 5;
}

.register_input__container {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  margin-top: 108px;
  width: 320px;
}

.accent {
  color: var(--main-accent-color);
}

.label {
  color: var(--secondary-text-color);
  margin-bottom: 8px;
  margin-top: 20px;
}

.input {
  font-size: 14px;
  height: 42px;
  padding-left: 12px;
  border: none;
  background-color: var(--secondary-background-color);
  color: var(--placeholder-text-color);
}

.register_btn {
  margin-top: 32px;
  border: none;
  color: var(--btn-text-color);
  height: 60px;
  width: 100%;
  font-size: 16px;
  font-weight: 600px;
  background-color: var(--main-accent-color);
}

.link {
  margin-top: 20px;
  font-size: 13px;
  color: var(--main-accent-color);
}

.register_p {
  font-size: 13px;
  color: var(--secondary-text-color);
}

/* quote container */

.main_header {
  font-family: var(--extra-font-family);
  color: var(--primary-text-color);
  margin-bottom: 48px;
}

.quote_container {
  margin: auto;
  text-align: center;
}

.quote_div {
  text-align: left;
  margin-left: 0;
}

.list_header {
  font-size: 20px;
  line-height: 38px;

  &:last-of-type {
    margin-top: 32px;
  }
}

.register_list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register_list__item {
  display: flex;
  align-items: center;
}

.arrow {
  height: 8px;
  margin-right: 12px;
}

.main_quote {
  font-size: 24px;
  line-height: 38px;
  margin-top: 21px;
  color: var(----primary-text-color);
}

.quote_name {
  color: var(--secondary-text-color);
  font-size: 20px;
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    display: block;
    opacity: 50%;
    width: 150px;
    height: 1px;
    background-color: var(--secondary-text-color);
    top: -12px;
  }
}
