.header_styles {
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;

  height: 60px;
  width: 100%;
  background-color: var(--primary-background-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
