:root {
  /* text color */
  --primary-text-color: #242a37;
  --secondary-text-color: #898f9f;
  --placeholder-text-color: #a6abb9;
  --btn-text-color: #ffffff;

  /* background  colors */
  --main-backgound-color: #f6f7fb;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f7fa;
  --open-modal-background-color: rgba(43, 43, 43, 0.25);
  /* --open-modal-background-color: #2B2B2B ; */

  /* accent colors */

  --main-accent-color: #ff6b08;
  --secondary-accent-color: #242a37;
  /* font family */
  --main-font-family: "Montserrat", sans-serif;
  --extra-font-family: "Abril Fatface", cursive;
}

body {
  margin: 0;
  background-color: var(--main-backgound-color);
  font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font-family);
}

label {
  font-family: var(--main-font-family);
  font-weight: 500;
  color: var(--secondary-text-color);
  font-size: 14px;
}

p {
  font-family: var(--main-font-family);
  font-weight: 400;
  color: var(--secondary-text-color);
  font-size: 14px;
}

li {
  list-style: none;
  padding: 0;
}
