:root {
  /* text color */
  --primary-text-color: #242a37;
  --secondary-text-color: #898f9f;

  /* background  colors */
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f7fa;
  --open-modal-background-color: rgba(43, 43, 43, 0.25);
  /* --open-modal-background-color: #2B2B2B ; */

  /* accent colors */

  --main-accent-color: #ff6b08;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
